/*CSS reset*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	padding: 0; margin: 0;
}
html,body{
	display: block;
	height: 100%; width: 100%;
	/*overflow: hidden;*/
}
ul,li,a{
	margin: 0; padding: 0;
	list-style: none;
	text-decoration: none;
}
/*Mon Css*/
body{
	color: #b7b7b7;
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 1%*/
}
div{
	background-color: #3D91CD;
	margin: 0% 1% 1% 1%;
	width: 120px;
	height: 100px;
	color: #ffffff;
	text-align: center;
	padding-top: 70px;
}
table{
	width:98%;
	border-style: solid;
	border-color: red;
	margin: 1%;
}
td.right, td.left{
	width: 49%;
}

td{
	/*border-style: solid;*/
	/*border-color: green;*/
}
/*td:first-child, td:last-child{
	width: 20px;
	height: 20px;
}*/
td.left > table table:first-child {
	margin-bottom: 25%;
}
td.left > table table:nth-child(2) {
	margin-bottom: 25%;
}
td.left th:first-child {
    width: 90px;
}
th{
	text-align: left;
	vertical-align: text-bottom;
}
table th[rowspan='2'] {
    font-size: 38px;
}